<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
<!-- :: - 전체 영역을 의미 -->
    <th:block th:fragment="content">
    <h1>index.html</h1>

    <h4>Spring boot에서 Thymeleaf를 이용해 view 단을 처리하게된 배경</h5>
    <h6>Spring boot에서 view단 개발을 지원하는 template engine : Thymeleaf, FreeMarker, Mustache등</h6>
    <ul>
        <li>JSP와 유사하게 ${el expression}을 별도의 처리없이 이용할 수 있다.</li>
        <li>Model에 담긴 자바 객체를 화면에서 javascript로 처리하기 편리하다.</li>
        <li>연산이나 포맷(데이터 형변화)과 관련된 기능을 추가적인 개발없이 지원한다.</li>
        <li>웹 기술의 표준인 html파일을 사용함으로써 표준 개발을 지원한다.</li>
    </ul>
    </th:block>
</th:block>
</html>